@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Montserrat; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.first-header, .first-header-light {
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase; }

.first-header-light {
  color: #fff; }

.third-header-light {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase; }

.button, .btn-dark {
  width: 194px;
  height: 45px;
  border-radius: 30px;
  border: none;
  text-transform: uppercase; }
  .button:focus, .btn-dark:focus {
    outline: none; }

.btn-dark {
  background-color: #b88b58;
  color: #fff; }

.third-color {
  color: #b88b58; }

header {
  position: relative;
  background-color: #000; }
  header .logo {
    position: absolute;
    top: 22px; }
  header .top-nav {
    background-color: #000; }
    header .top-nav ul {
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
          justify-content: flex-end; }
      header .top-nav ul li {
        margin-right: 10px;
        padding: 10px 0;
        padding: 43px 0 37px 0;
        border-bottom: 5px solid #000;
        margin: 0 10px; }
        header .top-nav ul li:hover {
          border-bottom: 5px solid #b88b58; }
        header .top-nav ul li a {
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          margin: 0 5px; }

.jumbotron {
  background-color: red;
  background-image: url("../images/jumbotron.png");
  height: calc(100vh - 94px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .jumbotron h2 {
    margin-bottom: 49px; }
