@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: Montserrat; }
  body p {
    color: #242424;
    font-size: 14px;
    font-weight: 500;
    line-height: 25px; }

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto; }

.first-header, .first-header-light {
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase; }

.first-header-light {
  color: #fff; }

.second-header, .second-header-light {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  margin-top: 63px;
  text-transform: uppercase; }

.second-header-light {
  color: #fff;
  padding-top: 63px; }

.third-header-light {
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase; }

.fourth-header {
  text-align: center;
  font-size: 14px;
  color: #aeaeae;
  text-transform: uppercase;
  margin-top: 10px; }

.fiveth-header {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff; }

.sixth-header {
  color: #7e7e7e;
  font-size: 12px; }

.button, .btn-dark {
  width: 194px;
  height: 45px;
  border-radius: 30px;
  border: none;
  text-transform: uppercase; }
  .button:hover, .btn-dark:hover {
    cursor: pointer; }
  .button:focus, .btn-dark:focus {
    outline: none; }

.btn-dark {
  background-color: #b88b58;
  color: #fff; }

.third-color {
  color: #b88b58; }

header {
  position: relative;
  background-color: #000; }
  header .logo {
    position: absolute;
    top: 22px; }
    header .logo:hover {
      cursor: pointer; }
  header .top-nav {
    background-color: #000; }
    header .top-nav ul {
      list-style-type: none;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: end;
          justify-content: flex-end; }
      header .top-nav ul li {
        margin-right: 10px;
        padding: 10px 0;
        padding: 43px 0 37px 0;
        border-bottom: 5px solid #000;
        margin: 0 10px; }
        header .top-nav ul li:hover {
          border-bottom: 5px solid #b88b58; }
        header .top-nav ul li a {
          text-transform: uppercase;
          text-decoration: none;
          color: #fff;
          font-size: 14px;
          font-weight: 700;
          margin: 0 5px;
          padding: 43px 0 37px 0; }

.jumbotron {
  background-image: url("../images/jumbotron.png");
  background-position: 50% 50%;
  background-size: cover;
  height: calc(100vh - 94px);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center; }
  .jumbotron h2 {
    margin-bottom: 49px; }
  .jumbotron .dots {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    margin-top: 42px; }
    .jumbotron .dots .dot {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid #b88b58;
      margin: 5px; }
      .jumbotron .dots .dot:hover {
        cursor: pointer; }
      .jumbotron .dots .dot.active {
        background-color: #b88b58; }

.about {
  position: relative; }
  .about .telephone {
    position: absolute;
    background-color: #b88b58;
    width: 40px;
    height: 39px;
    border-radius: 50%;
    padding: 7px;
    right: 98px;
    top: -90px; }
    .about .telephone:hover {
      cursor: pointer; }
  .about .about-desc {
    display: -ms-flexbox;
    display: flex;
    margin-top: 55px; }
    .about .about-desc .about-left {
      margin-right: 32px; }
    .about .about-desc button {
      margin-top: 32px; }
  .about .about-video {
    box-shadow: 0 13px 24px rgba(0, 0, 1, 0.42); }
    .about .about-video:hover {
      cursor: pointer; }

.services {
  background-color: #000;
  padding-bottom: 43px; }
  .services .services-items {
    display: -ms-flexbox;
    display: flex;
    margin-top: 63px; }
    .services .services-items .services-item {
      text-align: center;
      border-left: 2px solid #aeaeae;
      padding: 20px 30px;
      width: 300px; }
      .services .services-items .services-item .services-img {
        margin-bottom: 38px; }
      .services .services-items .services-item .sixth-header-services {
        margin-top: 13px; }
      .services .services-items .services-item:last-child {
        border-right: 2px solid #aeaeae; }

.projects-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center; }
  .projects-wrapper .btns-projects {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    margin-top: 54px; }
  .projects-wrapper .btn-project {
    margin-bottom: 38px;
    padding: 24px;
    text-transform: uppercase;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    border-right: 1px solid #cfcfcf;
    border-left: none;
    background-color: #ededed;
    font-size: 14px;
    font-weight: 300; }
    .projects-wrapper .btn-project:focus {
      outline: none; }
    .projects-wrapper .btn-project:first-child {
      border-radius: 50% 0 0 50%;
      padding-left: 40px; }
    .projects-wrapper .btn-project:last-child {
      border-radius: 0 50% 50% 0;
      padding-right: 40px; }
    .projects-wrapper .btn-project:hover {
      cursor: pointer;
      background-color: #fff;
      transition: 1s; }
  .projects-wrapper .imgs-projects {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .projects-wrapper .imgs-projects .img-projects {
      margin-bottom: 20px; }
      .projects-wrapper .imgs-projects .img-projects:hover {
        cursor: pointer; }
  .projects-wrapper .btn-projects {
    margin: 30px auto 56px; }
