@import "variables";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

// ================== headers =======================
.first-header {
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
}

.first-header-light {
    @extend .first-header;
    color: #fff;
}

.first-header-dark {
    // @extend .first-header;
}

.second-header {

}

.second-header-light {
    // @extend .second-header;
}

.second-header-dark {
    // @extend .second-header;
}

.third-header-light {
    color: $second-color;
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
}

.third-header-light {
    // @extend .third-header;
}

.third-header-dark {
    // @extend .third-header;
}

.fourth-header {

}

.button {
    width: 194px;
    height: 45px;
    border-radius: 30px;
    border: none;
    text-transform: uppercase;
    &:focus {
        outline: none;
    }

}
.btn-light {

}

.btn-dark {
    @extend .button;
    background-color: $third-color;
    color: $second-color;
}

p {

}

.third-color {
    color: $third-color;
}
// ================== header ========================
header {
    position: relative;
    background-color: $first-color;

    .logo {
        position: absolute;
        top: 22px;
    }

    .top-nav {
        background-color: $first-color;

        ul {
            list-style-type: none;
            display: flex;
            justify-content: flex-end;

            li {
                margin-right: 10px;
                padding: 10px 0;
                padding: 43px 0 37px 0;
                border-bottom: 5px solid $first-color;
                margin: 0 10px;

                &:hover{
                    border-bottom: 5px solid $third-color;
                }

                a {
                    text-transform: uppercase;
                    text-decoration: none;
                    color: $second-color;
                    font-size: 14px;
                    font-weight: 700;
                   margin: 0 5px;
                    
                }
            }
        }
    }
}
// ================== jumbotron =====================
.jumbotron {
    background-color:  red;
    background-image: url("../images/jumbotron.png");
    height: calc(100vh - 94px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
        margin-bottom: 49px;
    }
    .dot {

    }
}


// ==================  about us =====================
// ==================  services =====================
// ==================  projects =====================
// ==================  team =========================
// ==================  happy clients ================
// ==================  cooperation ==================
// ==================  price ========================
// ==================  premium ======================
// ==================  some fact ====================
// ==================  contact ======================
// ==================  footer =======================
